<!-- Ideas Tab -->
<div id="ideas" class="tab-content">
    <div class="section-header">
        <h2 class="section-title">Ideas</h2>
        <button id="add-idea-btn" class="action-btn">Add Idea</button>
    </div>
    
    <div class="search-container">
        <input type="text" id="idea-search" class="search-input" placeholder="Search ideas...">
    </div>
    
    <div id="ideas-container" class="ideas-container">
        <!-- Idea cards will be populated here -->
    </div>
</div>