<!-- Projects Tab -->
<div id="projects" class="tab-content">
    <div class="section-header">
        <h2 class="section-title">Projects</h2>
        <button id="add-project-btn" class="action-btn">Add Project</button>
    </div>
    
    <div class="kanban-board">
        <div class="kanban-column">
            <div class="kanban-header todo">To Do</div>
            <div id="todo-column">
                <!-- Todo tasks will be populated here -->
            </div>
        </div>
        <div class="kanban-column">
            <div class="kanban-header progress">In Progress</div>
            <div id="progress-column">
                <!-- In progress tasks will be populated here -->
            </div>
        </div>
        <div class="kanban-column">
            <div class="kanban-header done">Done</div>
            <div id="done-column">
                <!-- Done tasks will be populated here -->
            </div>
        </div>
    </div>
</div>