<div class="nav-tabs circular-tabs">
    <a href="#" class="nav-link active" data-tab="dashboard" title="Dashboard"><i class="fas fa-home"></i></a>
    <a href="#" class="nav-link" data-tab="news" title="News"><i class="fas fa-newspaper"></i></a>
    <a href="#" class="nav-link" data-tab="crypto-tracker" title="Crypto"><i class="fas fa-coins"></i></a>
    <a href="#" class="nav-link" data-tab="expenses" title="Expenses"><i class="fas fa-chart-line"></i></a>
    <a href="#" class="nav-link" data-tab="ideas" title="Ideas"><i class="fas fa-lightbulb"></i></a>
    <a href="#" class="nav-link" data-tab="projects" title="Projects"><i class="fas fa-folder-open"></i></a>
    <a href="#" class="nav-link" data-tab="training" title="Training"><i class="fas fa-dumbbell"></i></a>
    <a href="#" class="nav-link" data-tab="contacts" title="Contacts"><i class="fas fa-address-book"></i></a>
    <a href="#" class="nav-link" data-tab="chatgpt" title="ChatGPT"><i class="fas fa-robot"></i></a>

  </div>
  