<div class="nav-tabs">
    <a href="#" class="nav-link active" data-tab="dashboard">Dashboard</a>
    <a href="#" class="nav-link" data-tab="crypto-tracker">Crypto</a>
    <a href="#" class="nav-link" data-tab="expenses">Expenses</a>
    <a href="#" class="nav-link" data-tab="ideas">Ideas</a>
    <a href="#" class="nav-link" data-tab="projects">Projects</a>
    <a href="#" class="nav-link" data-tab="training">Training</a>
    <a href="#" class="nav-link" data-tab="contacts">Contacts</a>
</div>
